body{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
ul {
  padding: 0 !important;
}
.style-title {
  font-weight: 600;
  line-height: 1.05;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #777;
}

.ngancach {
  border-top: 1px solid #e5e5e5;
}
.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;

}

.topbar {
  background: #f2f2f2;
  height: 31px;
}
.topbar_right-text {
  color: #666666d9;
  display: inline-block;
  font-size: 14px;
  font-weight:400;
}
.topbar_right-text:hover {
  text-decoration: none;
  color: rgba(17, 17, 17, 0.85);
}
.topbar_right-item {
  padding: 5px 0;
}
.divider-vertical {
  width: 2px;
  height: 12px;
  background: #e4e4e4;
  transform: translate(77px, -17px);
}

/* header_main */
.header_main {
  height: 90px;
}
/*header_main-left */

.logo-img {
  width: 257px;
  height: 71px;
}

/* header_main-mid */
.btn_input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #ddd;
  float: left;
  width: 644px;
  height: 34px;
  background: #ffffff;
}

.btn_icon {
  float: left;
  width: 34px;
  height: 34px;
  padding: 10px;
  background: #f47920;
  color: white;
  font-size: 17px;
  border: 1px solid #ddd;
  border-left: none;
  cursor: pointer;
}
.btn_input:focus-visible {
  outline: #eaeaea solid 1px;
}
.btn_icon:focus {
  outline: #eaeaea solid 1px;
}
.fa-magnifying-glass {
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  position: relative;
  top: -7.5px;
  right: 2px;
}
.btn_icon:hover {
  background: rgba(244, 121, 32, 0.9);
}

/* Clear floats */
.btn_input::after {
  content: "";
  clear: both;
  display: table;
}

/* header_main-right */

.header_main-right:hover .product {
  display:block;
}
.product{
  position: absolute;
  width:250px;
  height:300px;
  background-color: white;
  z-index:10 ;
  display: none;
  transform: translateX(-60px); 
  border:1px solid rgba(128, 128, 128,0.4);
  font-size: 20px;
  font-weight:400;
  color:gray;
  border-radius:5px;
  animation: appearSlowly ease-in 0.2s;
}
@keyframes appearSlowly {
  from{
      height:0;
  }
  to{
    height:300px;
  }
}
.btn_cart {
  display: flex;
  flex-direction: row;
  justify-content: content;
  align-items: center;
  width: 130px;
  height: 32px;
  background: #0f8fda;
  border-radius: 999px;
}
.btn_cart:hover {
  text-decoration: none;
}
.btn_cart-title,
.fa-cart-shopping {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
}
/* header_bottom */
.header_bottom {
  width: 100%;
  height: 44px;
  background: #232323;
}

/* header_bottom-left */

.dropbtn {
  width: 205px;
  height: 44px;
  background-color: #f47920;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  
}
.dropbtn:focus {
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  line-height: 0;
}

.dropdown-content {
  display: block;
  /* display: none; */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  height: 39.5px;
  width: 205px;
  color: rgba(34, 13, 13, 1);
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  border: 1px solid #eaeaea;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  text-decoration: none;
  color: rgba(17, 17, 17, 0.8);
}
.fa-bars {
  position: absolute;
  color: #ffffff;
  transform: translateX(10px);
  margin-top: 15px;
  z-index: 1;
}

/* header_bottom-center */
.header_bottom-center {
}
.nav_item {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
}
.nav_item:hover {
  text-decoration: none;
  color: #eeee22;
}
/* main */
#main {
  background: #e5e5e5;
}
.content {
}
/* section 2 */

/* section 3 */
.section3 {
  width: 254px;
  height: 354px;
  background: #f5deb3;
}
.book1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infor {
  margin-top: 15px;
}
.img_product1 {
  width: 96px;
  max-height: 84px;
  border-radius: 50%;
  box-shadow: -7px 7px 11px -3px #9e9e9e;
}
.category_book {
  text-align: center;
  color: #777777;
  font-size: 11px;
}
.title_book {
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 15px;
  margin-top: -15px;
}
.title_book:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 25px;
}
.sell {
  text-align: center;
}
.dash {
  color: #666666d9;
}
.price_book-intinial {
  color: #ff0000;
  font-size: 15px;
}
.price_book-discount {
  color: rgba(255, 0, 0, 1);
  font-size: 15px;
}
/* carousel */
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
}
.img_slide {
}
.mySlides {
}

/* The dots/bullets/indicators */
.dots {
  text-align: center;
  transform: translate(-200px, -60px);
}
.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
  transform: translateX(230px);
}

.dot:hover,
.active {
  background: white;
  transition: background-color 0.4s ease;
}

/* Fading animation */
.fades {
  animation-name: fades;
  animation-duration: 1.5s;
}

@keyframes fades {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
/* Next & previous buttons */
.contain_prev,
.contain_next {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 50%;
  border-radius: 100%;
  border: 1px solid white;
  text-align: center;
  display: none;
}
.slideshow-container:hover .contain_next {
  display: block;
  transition: display 0.9s ease;
}
.slideshow-container:hover .contain_prev {
  display: block;
  transition: display 0.9s ease;
}

.prev,
.next {
  padding: 10px;
  cursor: pointer;
  color: white !important;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */

.contain_next {
  right: 10px;
}
.contain_prev {
  left: 10px;
}

/* On hover, add a black background color with a little bit see-through */
.contain_prev:hover,
.contain_next:hover {
  background: rgba(0, 0, 0, 0.8);
  transition: background 0.3s ease;
}

/* phần ảnh */
.picture-frames1,
.picture-frames2,
.picture-frames3 {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  phần tiếp*/
.img_product2 {
  width: 158px;
  height: 189px;
}
.book {
  height: 311px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #e5e5e5;
  background-color: #fff;
}
.container_img-banner {
  background: #fafaf8;
  text-align: center;
}
.container_product {
  transform: translateX(12px);
  background: #fff;
}
.img-banner {
  width: 301px;
  height: 672px;
}
/* zoom ảnh  */
.zoom-img {
  overflow: hidden;
}

.img_product2 {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: all 0.3s ease;
}

.img_product2:hover {
  transform: scale(1.2);
}
/* footer */
.dash-footer {
  width: 100%;
  height: 1px;
  background: #f6f6f6;
}
.footer_sections {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 100px;
  padding-top: 20px;
}
.style-title {
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #777;
}
/* section 1 */

.img-logo-footer {
  width: 283px;
  height: 78px;
}
/* section 2 */
.footer_section-page {
  padding-left: 0;
}
.footer_section-page-items {
  list-style: none;
  padding: 6px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.footer_section-page-items a {
  color: #334862;
  font-size: 15px;
}
.footer_section-page-items a:hover {
  text-decoration: none;
  color: #000000;
}
/* section 3 */
.footer_section-policy {
  padding-left: 0;
}
.footer_section-policy-items {
  list-style: none;
  padding: 6px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.footer_section-policy-items a {
  color: rgba(51, 72, 98, 1);
  font-size: 15px;
}
.footer_section-policy-items a:hover {
  text-decoration: none;
  color: #000000;
}
/* section 4 */

.footer_section-facebook {
  padding-left: 0;
}
.footer_section-facebook-items {
  list-style: none;
  padding: 6px 0;
}
.footer_section-facebook-items a {
  color: #334862;
  font-size: 15px;
}
.footer_section-facebook-items a:hover {
  text-decoration: none;
  color: #000000;
}
