/* PC */
@media (min-width: 992px) {
  .btn_cart-title,
  .fa-cart-shopping {
    padding: 0 5px;
  }
  .bar-seacrh {
    margin-left: -65px;
  }
  .container_img-banner {
    width: 303px;
  }
  .picture-frames1,
  .picture-frames2,
  .picture-frames3 {
    width: 402px;
    height: 219px;
  }
  .img_slide {
    height: 354px;
  }
  .topbar_left,
  .header_main-left,
  .header_bottom-left {
    margin-left: 150px;
  }
  .topbar_right {
    margin-left: 380px;
  }
  .button_right {
    display: none;
  }
  .button_left,
  .header_devices-mediums {
    display: none;
  }
  .header_main-right {
    margin-left: -38px;
    width: 130px;
  position: relative;

  }
}

/* TABLET & MOBILE */
@media (max-width: 768px) {
  .img_slide {
    width: 100%;
    height: auto;
  }
  .section3,
  .dropdown-content {
    display: none;
  }
  .bar_search-device-medium {
    display: flex;
  }
  .bar_search-device-medium-input {
    border: 1px solid #ddd;
    padding: 5px 5px;
  }
  .bar_seacrh-device-medium-icon {
    background: #f47920;
    border: 1px solid #ddd;
    border-left: none;
    padding: 5px 8px;
  }
  .bar_seacrh-device-medium-icon > i {
    transform: translate(3px, 6px);
  }
  .bar_search-device-medium-input:focus-visible {
    outline: #eaeaea solid 1px;
  }
  .bar_seacrh-device-medium-icon:focus {
    outline: #eaeaea solid 1px;
  }
  .bar_seacrh-device-medium-icon:hover {
    background: rgba(244, 121, 32, 0.9);
  }

  /* btn_left & btn_right 'mobile-table' */
  .icon-menu-left {
    color: #777 !important;
  }

  .icon-menu-right {
    color: #f7f7f7;
  }
  .btn_menu-left {
    width: 25px;
    height: 30px;
  }

  .btn_menu-right {
    background-color: #0f8fda;
    width: 35px;
    height: 32px;
    padding: 0 10px;
    border-radius: 999px;
  }
  .topbar_right,
  .header_main,
  .header_bottom,
  .bar-seacrh {
    display: none;
  }
  .menu-center,
  .topbar_left,
  .breadcrumbs {
    display: flex;
    justify-content: center;
  }
  .img_logo {
    width: 253px;
    height: 70px;
  }

  .btn_menu-right {
    margin-top: 24px;
  }
  /* sidebar-left-medium*/
  .btn_menu_left {
    position: relative;
    font-size: 15px;
    margin-top: 13px;
  }
  .sibar_menu_left {
    padding: 30px 0;
    position: fixed;
    background: #fff;
    border: 1px solid #ececec;
    z-index: 99999;
    top: 0;
    bottom: 0;
    left: -100%;
  }
  .sibar-menu-items {
    border-bottom: 1px solid #ececec;
  }
  .bg-all-screen-left {
    right: -100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgba(109, 109, 109, 0.5);
  }
  .close-menu-left {
    font-size: 40px;
    color: #fff;
    position: absolute;
    right: 10px;
  }
  .sibar-menu-items > a {
    color: #666666d9;
    font-size: 15px;
    font-weight: 700;
  }
  /* sidebar-right -medium*/
  .sibar_menu_right {
    background: #f8f8f8;
    position: fixed;
    top: 0;
    /* right:0; */
    bottom: 0;
    z-index: 99;
    right: -100%;
  }
  .bg-all-screen-right {
    position: fixed;
    /* left: 0; */
    top: 0;
    bottom: 0;
    background: rgba(109, 109, 109, 0.5);
    left: -100%;
  }
  .close-menu-right {
    position: absolute;
    color: #6b6b6b;
    font-size: 40px;
    right: 20px;
  }
  .close-menu-right:hover {
    color: #6b6b6b;
    text-decoration: none;
    font-weight: 600;
    font-size: 40px;
  }
  .description-cart {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .status-cart {
    text-align: center;
  }
  .title-cart {
    color: #555555;
    font-weight: 700;
  }

  .status-cart {
    color: #777;
    font-size: 20px;
  }
}

/* TABLET */
@media (min-width: 576px) and (max-width: 768px) {
  .container_img-banner {
    width: 170px;
    height: 1246px;
  }

  .img-banner {
    width: 169px;
  }
  .img-good-book {
    width: 215px;
  }
  .picture-frames1,
  .picture-frames2,
  .picture-frames3 {
    width: 225px;
    height: 130px;
  }
  .topbar_left {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .btn_menu-right {
    margin-left: 160px;
  }
  .sibar_menu_left,
  .sibar_menu_right {
    height: 100vh;
    width: 35vw;
  }
  .bg-all-screen-left,
  .bg-all-screen-right {
    width: 65vw;
  }
}
/* MOBILE */
@media (max-width: 576px) {
  .picture-frames1,
  .picture-frames2,
  .picture-frames3 {
    width: 100%;
    margin-top: 10px;
  }
  .sibar_menu_left,
  .sibar_menu_right {
    height: 100vh;
    width: 65vw;
  }
  .bg-all-screen-left,
  .bg-all-screen-right {
    width: 36vw;
  }
}
